<div class="button-row">
  <mat-toolbar class="fixed-header">
    <button mat-raised-button color="warn" [disabled]="isBoxSelected" (click)="addBox()">Create Box</button>
    <button mat-raised-button color="warn" [disabled]="!isBoxSelected" (click)="manageBox()">Manage Box Items</button>
    <button mat-raised-button color="warn" [disabled]="!isBoxSelected" (click)="deleteBox()">Delete Box</button>
    <span class='fill-space supplier-header'>{{ supplier }} : {{ totalSupplierPrice | currency : '£' }}</span>
    <button mat-raised-button  [color]="isBoxSelected && selectedBox.status ? 'warn' : 'primary'" [disabled]="!isBoxSelected" (click)="processBox()">{{ processButtonText() }}</button>
    <button mat-raised-button color="warn" [disabled]="!dataSource.data.length" (click)="exportBox()">Export Box Items</button>
  </mat-toolbar>
</div>
<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="boxId" matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">
    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Date Created </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated | date : 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="boxId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Box Number </th>
      <td mat-cell *matCellDef="let element"> {{element.boxId}} </td>
    </ng-container>
    <ng-container matColumnDef="totalItems">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> # of Items </th>
      <td mat-cell *matCellDef="let element"> {{element.totalItems}} </td>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Total Price </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice | currency : '£'}} </td>
    </ng-container>
    <ng-container matColumnDef="boxNotes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 35%;"> Notes </th>
      <td mat-cell *matCellDef="let element"> {{element.boxNotes}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let i = index; let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': row.isSelected, 'picked': row.status == 1}"></tr>
  </table>
</div>
