<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="'navigation'"
               [mode]="'side'"
               [opened]="true">
    <mat-toolbar>Suppliers</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class='menu-item' routerLink="indigo" routerLinkActive='active'>Indigo</a>
      <a mat-list-item class='menu-item' routerLink="hayley-baldwin" routerLinkActive='active'>Hayley Baldwin</a>
      <a mat-list-item class='menu-item' routerLink="hotsoles" routerLinkActive='active'>Hotsoles</a>
      <a mat-list-item class='menu-item' routerLink="leanne" routerLinkActive='active'>Leanne</a>
      <a mat-list-item class='menu-item' routerLink="moyee" routerLinkActive='active'>Moyee</a>
      <a mat-list-item class='menu-item' routerLink="stylish" routerLinkActive='active'>Stylish</a>
      <a mat-list-item class='menu-item' routerLink="koi" routerLinkActive='active'>Koi</a>
      <a mat-list-item class='menu-item' routerLink="kidderminster" routerLinkActive='active'>Kidderminster</a>
      <a mat-list-item class='menu-item' routerLink="livsey" routerLinkActive='active'>Livsey</a>
      <a mat-list-item class='menu-item' routerLink="city-shoes" routerLinkActive='active'>City Shoes</a>
      <a mat-list-item class='menu-item' routerLink="core-collection" routerLinkActive='active'>Core Collection</a>
      <a mat-list-item class='menu-item' routerLink="footwork" routerLinkActive='active'>Footwork</a>
      <a mat-list-item class='menu-item' routerLink="edge" routerLinkActive='active'>Edge</a>
      <a mat-list-item class='menu-item' routerLink="shoe-smart" routerLinkActive='active'>Shoe Smart</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Damages Management App</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
