<h1 mat-dialog-title>Manage Box</h1>
<div mat-dialog-content>
  <div class="button-row">
    <button mat-raised-button color="warn" [disabled]="isItemSelected" (click)="addItem()">Add Item</button>
    <button mat-raised-button color="warn" [disabled]="!isItemSelected" (click)="editItem()">Edit Item</button>
    <button mat-raised-button color="warn" [disabled]="!isItemSelected" (click)="deleteItem()">Delete Item</button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort matSortActive="boxId" matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">
    <ng-container matColumnDef="stockNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;"> StockNumber </th>
      <td mat-cell *matCellDef="let element"> {{element.stockNumber | uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="itemPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;"> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.itemPrice | currency : '£'}} </td>
    </ng-container>
    <ng-container matColumnDef="reasonCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40%;"> Reason </th>
      <td mat-cell *matCellDef="let element"> {{element.reasonCode}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let i = index; let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': row.isSelected}"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" cdkFocusInitial (click)="closeDialog()">Close</button>
</div>
